.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  display: block;
}

.Form-body{
  text-align: left;
  font-size: calc(10px + 2vmin);
  font-size: calc(10px + 2vmin);
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

}

.Form-header{
  font-size: calc(10px + 2vmin);
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

.App-details {
  background-color: #FFFFFF;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333333;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
